*~
bin
obj
debug
open/*
debugwith*
debugextra*
debugmemory*
release
releasewith*
releaseextra*
releasememory*
win64dbg
target
object
execute
imports
lansa/*
x_win64
webserver
x_apps
x_hmrqst
x_vfx*
x_dem
x_dex
x_qax
x_rg1
x_ide
x_lpc
x_qat
x_sys
*.user
*.suo
*.sdf
*.opensdf
*.bak
*.ipch
*.sln.cache
_ReSharper*
*/build
*/test-results
*.pidb
*.usertasks
*.userprefs
*.orig
_sgbak
*.vspscc
*.vssscc
*.tmp
*.err
*.log
*.exp
*.map
*.bsc
*.sav
*.cab
*.xqf
~*
x_usertrace*
x_trace*
x_lic*
liil/liil.h
lp/src/axambien.h
lp/src/LpComComponentServer.h
VisioEventSink/VisioEventSink.h
X_WIN95/X_LANSA/source/lxqueue/lxqwinev.h
X_WIN95/X_LANSA/source/lxqueue/lxqwinev.rc
X_WIN95/X_LANSA/source/lxqueue/lxqwinev_MSG00001.bin
X_WIN95/X_LANSA/source/web/win32/w3etrmon.h
X_WIN95/X_LANSA/source/web/win32/w3etrmon.rc
X_WIN95/X_LANSA/source/web/win32/w3etrmon_MSG00001.bin
Tools/x_cpu_2A07_046461E9.txt
UBIFS*
x_lansa.pro
epc.dat
*.trc
x_jobq.dat
Install Utilities*
debuglib*
releaselib*
*.box
UpgradeLog.htm
